.main-footer {
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 280px;
    width: 100%;
    box-sizing: border-box;

    justify-content: center;
    background-color: $whitegrey;
  }

  &__logo {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;

    display: grid;
    justify-content: center;
    border-bottom: 1px solid $grey;
  }

  &__logo-image {
    width: 128px;
    height: 24px;
  }

  &__social-list {
    margin: 0;
    padding: 20px 0;
    list-style-type: none;

    display: grid;
    grid-gap: 29px;
    grid-template-columns: repeat(3, 28px);
    justify-content: center;
    border-bottom: 1px solid $grey;
  }

  &__social-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
  }

  &__svg {
    fill: #666666;

    &:hover {
      fill: $active;
    }

    &:active {
      fill: $active;
      opacity: 0.3;
    }

    &--insta {
      width: 16px;
      height: 16px;
    }

    &--vk {
      width: 22px;
      height: 12px;
    }

    &--fb {
      width: 10px;
      height: 19px;
    }
  }

  &__copyright {
    margin: 0;
    padding: 20px 0;
  }

  &__link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-decoration: none;

    &:hover {
      .main-footer__svg {
        fill: $active;
      }
    }

    &:active {
      opacity: 0.3;
      .main-footer__svg {
        fill: $active;
      }
    }
  }

  &__text-htmlacademy {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }

  &__logo-htmlacademy {
    width: 27px;
    height: 34px;

    justify-self: end;
  }
}


@media (min-width: $tablet-width) {
  .main-footer {
    &__wrapper {
      padding: 0 30px;
      align-items: center;
      grid-template-columns: repeat(3, minmax(236px, 407px));
    }

    &__logo {
      justify-content: flex-start;
      border: none;
    }

    &__social-list {
      border: none;
    }

    &__link {
      grid-template-columns: 1fr auto;
      grid-gap: 24px;
      justify-items: end;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    &__wrapper {
      padding: 0 110px;
    }
  }
}
