.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

.main-header__wrapper {
  padding: 23px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  border-bottom: 1px solid #e6e6e6; }

.main-header__logo {
  margin: 0;
  padding: 0;
  grid-column: span 2; }

.main-header__button {
  cursor: pointer; }

.main-header__close {
  display: none;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background: deeppink;
  border: none; }

.main-header__open {
  position: relative;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  background-color: coral; }

.main-header__navigation {
  display: none; }

.main-header--no-js .main-header__open {
  display: none; }

.main-header--no-js .main-header__navigation {
  display: grid; }

.main-header--active .main-header__close {
  display: block; }

.main-header--active .main-header__open {
  display: none; }

.main-header--active .main-header__navigation {
  display: grid; }

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(3, 66px); }

.main-navigation__item {
  width: 100%;
  height: 100%; }
  .main-navigation__item--current .main-navigation__link:hover, .main-navigation__item--current .main-navigation__link:active {
    color: deeppink; }

.main-navigation__link {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  font-family: "Oswald Medium", Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: black; }
  .main-navigation__link:hover {
    opacity: 0.6; }
  .main-navigation__link:active {
    opacity: 0.3; }
